@font-face {
  font-family: NanumSquareRoundB;
  src: url('./assets/fonts/NanumSquareRoundR.ttf');
}


/* General Body Styles */
body {
  font-family: 'NanumSquareRoundB', sans-serif;
  color: #333;
  background-color: #f4f7fa;
  margin: 0;
  padding: 0;
}

/* Header and Titles */
h1, h2, h3, h4, h5, h6 {
  color: #283e4a;
  font-weight: 600;
}

h1 {
  font-size: 26px;
  margin-bottom: 20px;
}

/* Link Styling */
a {
  color: #0a66c2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Main Content Box */
.box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  padding: 20px;
  margin: 20px;
}

/* Forms and Input Fields */
input[type="text"], input[type="password"], textarea {
  border: 1px solid #ccc;
  /*border-radius: 4px;*/
  /*padding: 10px;*/
  width: 300px;
  /*box-sizing: border-box; !* Ensures padding doesn't affect width *!*/
}

button {
  background-color: #0073b1;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005a90;
}

/* Specific Components Enhancement */
.paper {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.list-item {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

/* Tabs and Panels */
.tabs {
  border-bottom: 1px solid #ddd;
}

.tab {
  padding: 10px;
  cursor: pointer;
}

.tab:hover {
  background-color: #eef3f8;
}

/* Active State */
.active-tab {
  border-bottom: 3px solid #0073b1;
}

/* Icons and Small Details */
.icon {
  color: #0073b1;
  margin-right: 5px;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Enhancing Visual Energy with Colors */
.secondary-button {
  background-color: #ff4081;  /* Pink shade for energetic feel */
}

.secondary-button:hover {
  background-color: #c51162; /* Deeper pink on hover */
}

/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Minimum height takes the full viewport */
  font-family: 'NanumSquareRoundB', sans-serif;
}

.content {
  flex: 1; /* This makes the content take up all available space */
  padding: 20px; /* Optional padding */
  font-family: 'NanumSquareRoundB', sans-serif;
}
body {
  font-family: 'NanumSquareRoundB', sans-serif;
}
